<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.aw.awlib"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AWLibTheme">
        <provider
            android:name=".database.AWContentProvider"
            android:authorities="de.aw.awlibcontentprovider;de.aw.appcontentprovider"
            android:exported="true"
            />

        <activity
            android:name=".activities.AWActivityActions"
            android:parentActivityName=".activities.AWPreferenceActivity">

        </activity>

        <activity android:name=".activities.AWActivityDebug">
        </activity>
        <activity android:name=".activities.AWWebViewActivity">
        </activity>
        <activity android:name=".activities.AWPreferenceActivity">
        </activity>
        <!-- Receiver fuer Boot-Completed Message -->
        <receiver
            android:name=".events.EventDBSave"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".events.AWEventService"
            android:label="@string/awlib_eventservice"
            />

    </application>

</manifest>